<html>

<head>
    <title>happy_birthday</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>

<body bgcolor="#FFFFFF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
    <!-- Designed by www.hotemailtemplates.com -->
    <table id="Table_01" width="600" border="0" cellpadding="0" cellspacing="0">
        <tr>
            <td bgcolor="#FFFFFF">
                <img style="display:block" border="0" src="files/img_01.png" width="125" height="160" alt=""></td>
            <td bgcolor="#FFFFFF">
                <img style="display:block" border="0" src="files/img_02.png" width="400" height="160" alt=""></td>
            <td bgcolor="#FFFFFF">
                <img style="display:block" border="0" src="files/img_03.png" width="75" height="160" alt=""></td>
        </tr>
        <tr>
            <td bgcolor="#FFFFFF">
                &nbsp;</td>
            <td style="border-left-style: solid; border-left-color: #898989; border-left-width: 1px; border-right-style: solid; border-right-color: #898989; border-right-width: 1px" bgcolor="#F4F4F4">
                <table border="0" width="100%" cellspacing="10" cellpadding="0">
                    <tr>
                        <td colspan="3" align="center"><b><i>
                    <font size="5" color="#800080">Happy Happy Birthday {{ employee }}</font></i></b></td>
                    </tr>
                    <tr>
                        <td width="80">&nbsp;</td>
                        <td>
                            <div>Have a million smiles today
                                <br> Let your heart be filled with love
                                <br> Chase all your cares away
                                <br> Have a little fun

                                <p>Dance to your favorite music
                                    <br> Sing your favorite tune
                                    <br> Laugh with all your heart,
                                    <br> Share a silly joke or two

                                </p>
                                <p>Have a Happy Happy Birthday
                                    <br> No matter what you do!</div>
                        </td>
                        <td width="20">&nbsp;</td>
                    </tr>
                </table>
            </td>
            <td bgcolor="#FFFFFF">
                &nbsp;</td>
        </tr>
        <tr>
            <td bgcolor="#FFFFFF">
                <img style="display:block" border="0" src="files/img_07.png" width="125" height="206" alt=""></td>
            <td bgcolor="#FFFFFF">
                <img style="display:block" border="0" src="files/img_08.png" width="400" height="206" alt=""></td>
            <td bgcolor="#FFFFFF">
                <a href="http://www.hotemailtemplates.com/">
                    <img style="display:block" border="0" src="files/img_09.png" width="75" height="206" alt=""></a>
            </td>
        </tr>
    </table>
    <!-- Designed by www.hotemailtemplates.com -->
</body>


</html>